In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\innereye\Downloads\Schiphol_Duplicates.csv')
df.head()

,FileName0,Cat0,FileName1,Cat1
0,181228054557CET_961593_58883032_BottomPrimaryV...,IED,181228194213CET_962584_58941229_BottomPrimaryV...,IED
1,181228061751CET_961653_58886519_BottomPrimaryV...,IED,181229154139CET_963437_58993770_BottomPrimaryV...,IED
2,181228061751CET_961653_58886519_BottomPrimaryV...,IED,181229190607CET_963599_59002982_BottomPrimaryV...,IED
3,181228061756CET_961654_58886538_BottomPrimaryV...,"GUN,LAG",181229121429CET_963244_58981616_BottomPrimaryV...,"GUN,LAG"
4,181228065645CET_961691_58888845_BottomPrimaryV...,"IED,LED,LAG",181229070850CET_962854_58958588_BottomPrimaryV...,"IED,LED"

In [2]:
df.loc[:, 'len_cat0'] = df.Cat0.apply(lambda x: len(x.split(',')))
df.loc[:, 'len_cat1'] = df.Cat1.apply(lambda x: len(x.split(',')))
df.head()

,FileName0,Cat0,FileName1,Cat1,len_cat0,len_cat1
0,181228054557CET_961593_58883032_BottomPrimaryV...,IED,181228194213CET_962584_58941229_BottomPrimaryV...,IED,1,1
1,181228061751CET_961653_58886519_BottomPrimaryV...,IED,181229154139CET_963437_58993770_BottomPrimaryV...,IED,1,1
2,181228061751CET_961653_58886519_BottomPrimaryV...,IED,181229190607CET_963599_59002982_BottomPrimaryV...,IED,1,1
3,181228061756CET_961654_58886538_BottomPrimaryV...,"GUN,LAG",181229121429CET_963244_58981616_BottomPrimaryV...,"GUN,LAG",2,2
4,181228065645CET_961691_58888845_BottomPrimaryV...,"IED,LED,LAG",181229070850CET_962854_58958588_BottomPrimaryV...,"IED,LED",3,2

In [3]:
def select(row):
    if row.len_cat0 >= row.len_cat1:
        ans = row[['FileName0', 'Cat0']]
    else:
        ans = row[['FileName1', 'Cat1']]
    ans.index = ['FileName', 'Cat']
    return ans

df_new = df.apply(select, axis=1)

In [4]:
df_new.loc[4, 'FileName']

'181228065645CET_961691_58888845_BottomPrimaryViewCleanRGB.png'